div.mirez-sound-area{
  position: absolute;
  display: flex;
  width: 6%;
  height: 10%;
  bottom: 5%;
  right: 5%;
  border-radius: 50%;
  z-index: 101;
}

div.mirez-click-area{
  width: 100%;
  position: absolute;
  height: 100%;
  cursor: pointer;
}

.mirez-wrapper{
  width: 100%;
  height: 100%;
}

.line{
  width: 6px;
  height: 10px;
  margin-left: 12px;
  margin-top: 9px;
  position:absolute;
}

.line.left{
  background-color: #787878;
  animation: animate1 1.2s linear infinite;
  top: 16px;
  left: 0px;
}
.line.center{
  background-color: #787878;
  animation: animate2 1s linear infinite;
  top: 16px;
  left: 8px;
}
.line.right{
  background-color: #787878;
  animation: animate3 1.5s linear infinite;
  top: 16px;
  left: 16px;
}

.line.left.none{
  animation: none !important;
  background-color: #ffffff;
}

.line.center.none{
  animation: none !important;
  background-color: #ffffff;
}

.line.right.none{
  animation: none !important;
  background-color: #ffffff;
}

@keyframes animate1{
  20%{
    background-color: white;
    top: 10px;
    height: 16px
  }
  40%{
    background-color: white;
    top: 14px;
    height: 12px
  }
  60%{
    background-color: white;
    top: 4px;
    height: 22px
  }
  80%{
    background-color: white;
    top: 14px;
    height: 12px
  }
}

@keyframes animate2{
  20%{
    background-color: white;
    top: 5px;
    height: 21px
  }
  40%{
    background-color: white;
    top: 14px;
    height: 12px
  }
  60%{
    background-color: white;
    top: 5px;
    height: 21px
  }
  80%{
    background-color: white;
    top: 10px;
    height: 16px
  }
}
@keyframes animate3{
  20%{
    background-color: white;
    top: 5px;
    height: 21px
  }
  40%{
    background-color: white;
    top: 14px;
    height: 12px
  }
  60%{
    background-color: white;
    top: 10px;
    height: 16px
  }
  80%{
    background-color: white;
    top: 14px;
    height: 12px
  }
}
